{% block content %}

<head>
    <link rel="stylesheet"  href="../static/css/hero.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Horizontal Card</title>
   
</head>
<body>
  <div class="hero">
    <div class="bg">
      <div class="hero-bg-bg"></div>
      <img class="hero-bg" src="../static/img/semedo 1.png" alt="Background"  />
    </div>
    <div class="hero container">
      <div class="hero-dk">
        <div class="row ">
          <div class="col-md-11">
            <div class="d-flex heroku">
              <div class="heroDesc">
                <h1 class="mb-4 hero-title" data-aos="fade-up" data-aos-duration="1000">
                  Temukan Informasi <br /> Dengan Mudah,  Melalui  <br />
                  Virtual Assistant
                </h1>
                <a href="/chatbot" class="btn btn-danger"  >
                    Mulai Chat
                  </a>
                
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-mb">
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="d-flex align-items-center mb-5">
              <div class="heroDesc">
                <h2 class="mb-3 title" style="color:#fff" data-aos="fade-up" data-aos-duration="1000">
                  Temukan Informasi <br /> Dengan Mudah, <br> Melalui Virtual Assistant
                </h2>
                <a href="/chatbot" class="btn btn-danger"  >
                  Mulai Chat
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}