
{% block content %}
<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet"  href="../static/css/hero.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chatbot.css')}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="my-login-page">
    <div class="containers">
        <div class="row">
         

            {% include 'navbar.html' %}
            {% include 'includes.html' %}
            {% include 'header.html' %}
            {% include 'profil.html' %}
            {% include 'kontak.html' %}
            {% include 'maps.html' %}
            {% include 'footer.html' %}
            
        </div>
       
    </div>
    <!-- <div class="section">
  
        <button class="chat-btn" > 
            <i class="material-icons" > comment </i>
        </button>
      <div class="chat-popup">
          <div class="badge">1</div>
          <div class="chat-area msg-bubble" id="msg-bubble" style="font-size: 15px;">
           <div class="income-msg mt-1">
               <img src="/static/img/edo.png" class="avatar" alt="" style="  height: 70px;">
               <span class="msg "> <img src="/static/img/VACsim.png" alt="" width="70px" height="70px"> <br>
                 Hai, Saya Edo Asisstant Kamu <br> Apakah ada yang bisa saya bantu?         
               </span>
           </div>   
          </div>
        
              <div class="input-area" >
              <form class="msger-inputarea" id="userInput" >
                <input type="text" class="msger-input" id="text" >
                <!-- <button id="emoji-btn"> &#127773;</button> -->
                <!-- <button type="submit" id="send" class="msger-send-btn submit"> <i class="material-icons"> send</i></button>
              </form>
          </div>
      </div>
    </div> -->
    <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.1.1/dist/index.min.js"></script>
    
    <!-- <script>
         const popup = document.querySelector('.chat-popup');
    const chatBtn = document.querySelector('.chat-btn');
    const submitBtn = document.querySelector('.msger-send-btn');
    const chatArea = document.querySelector('.chat-area');
    const inputElm = document.querySelector('input');
    
    chatBtn.addEventListener('click', ()=>{
        popup.classList.toggle('show');
    })
    

    
        $(document).ready(function () {
            
          $("form").on("submit", function (event) {
            var rawText = $("#text").val();
            var userHtml = '<p class="userText out-msg" style="font-size: 15px;"> <span class="my-msg">'  + rawText + '</span><img src="/static/img/user.png" class="avatar" ></p> ';
            $("#text").val("");
            $("#msg-bubble").append(userHtml);
            document.getElementById("userInput").scrollIntoView({
              block: "start",
              behavior: "smooth",
            });
            $.ajax({
              data: {
                msg: rawText,
              },
              type: "POST",
              url: "http://127.0.0.1:5001/get",
            }).done(function (data) {
              var botHtml = '<div class="income-msg">' +'<img src="/static/img/edo.png" class="avatar"  style="height: 70px;">'  + '<span class="msg1">' + data + '</span>' + '</div>';
              $("#msg-bubble").append($.parseHTML(botHtml));
              document.getElementById("userInput").scrollIntoView({
                block: "start",
                behavior: "smooth",
              });
            });
            event.preventDefault();
          });
        });

        
      </script> -->
    
    </script>
    
</body>

</html>
{% endblock %}