<head>
    <style>
        .maps{
            margin-top: 50px;
        }
        @media only screen and (max-width: 768px) {
            .maps img{
               width: 330px;
               height: 200px;
   
            }
        }
    </style>
</head>
<div class="maps">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.4356081284272!2d109.28336967443589!3d-6.957831368120233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6fc158b15390db%3A0xcce87305f43b2a36!2sMuseum%20Semedo!5e0!3m2!1sid!2sid!4v1690357778763!5m2!1sid!2sid" 
  width="99%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>