
{% block content %}
<head>
    <link rel="stylesheet" href="../static/css/home.css">
<style>
</style>
</head>
<div data-aos="fade-up" class="container-fluid warna" >
    <div class="container">
       <!-- <div class="heading-1">
        <h2  style="text-align: center;">Museum Semedo</h2>
       </div> -->
            <div class="gbr">
                <div class="row ">
                <div class="col-md-6 ">
                    <div class="ini-img">
                        <img src="../static/img/semedo 1.png" alt="" width="90%">
                    </div>
                    <div class="color"></div>
                </div>
                    <div class="col-md-5 text ">
                        <div class="heading">
                            <h2 style="color: black;">Museum Semedo</h2>
                        </div>
                        <div class="sub-heading">
                          {% for n in home %}
                            <p>{{n.desc}}</p>
                            
                                {% endfor %}
                            </div>
                        </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
    {% endblock %}